body {
    margin: 0;
    padding: 0;

}


section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    scroll-snap-align: start;
}

/*section 1*/
.section1 {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../src/fondo.png");
    background-position: center;
    background-size: 100% 100%;
    z-index: -10;
    position: sticky;
    top: 0;
}

.corazon{
    padding-top: 8rem;
    width: 20%;
    transform: scale(2);
}

#pSection1{
    font-size: 2rem;
    max-width: 50%;
    opacity: 0;
}
/*section 2*/
.section2 {
    position: relative;
    opacity: 1;
    z-index: 2;
    height: 110vh;
    transition: background-image 4s ease-out, opacity 0 ease-out; 
    background-size: 100% 100%;


}

#content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition-duration: 0.1s;
    z-index: 0;
    background-image: url('../src/bg-2.svg');
}

.icon1 {
    width: 60px;
    position: absolute;
    right: 30%;
    bottom: 0;
    /* transform: translate3d(0, 0, 0);
    will-change: transform; */

}

.icon2 {
    width: 80px;
    position: absolute;
    left: 100px;
    bottom: 50px;

}

.icon3 {
    width: 100px;
    position: absolute;
    left: 10%;
    top: 20%;

}

.icon4 {
    width: 76px;
    position: absolute;
    right: 5%;
    top: 30%;
    z-index: 1;
}

.manos-game {
    width: 80%;
    height: auto;
    position: relative;
    align-self: flex-end;
    /*transform: translateY(80rem);*/
    transition-duration: 0.5s;
}

.mision-cumplida {
    position: absolute;
    align-self: flex-end;
    width: 80%;
}

/*section 3*/

.section3 {
    display: flex;
   
    justify-content: center;
    background-color: #373151;
    position: relative;
    overflow: hidden;
}

.pareja {
    width: 100%;
    position: absolute;
    object-fit: contain;
    align-self: flex-end;
}

.chat {
    display: grid;
    background: #005E73 url(../src/patron-bg-chat.svg);
    width: 40%;
    height: 100%;
    z-index: 1;
}

.chatContainer{
    width: 100%;
    height: 90%;
    align-self: center;
    display: grid;
}

#message1 {
    width: 55%;
    justify-self: start;
}

#message2 {
    width: 50%;
    justify-self: end;
}
#message23 {
    width: 50%;
    justify-self: end;
    z-index: 2;
}

/*section 4*/
.section4 {
    background: #2B2547;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 110vh;
}

.regalo {
    width: 75%;
    align-self: center;
}

#sec4H2{
    margin-bottom: 1rem;
}

.caja-texto {
    z-index: 1;
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
}


.caja-texto p {
    margin: 0;
}

.section4 h2 {
    z-index: 1;
    color: white;
    top: 200px;
}


/*seccion 5****/
#seccion5-historia1 {
    width: 100%;
    position: relative;
    height: 100vh;
    left: 0;
    background: #2B2547;
    display: grid;
}



#texto-section5 {
    max-width: 37.5rem;
    position: absolute;
    background: #FF4C7F;
    padding: 2em;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    z-index: 18;

}


#texto-section5 p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6em;
    color: #FFF;
}


.room2 {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.caja-texto2 {
    z-index: 1;
    color: white;
    background-color: #FF4C7F;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    top: 50%;
    right: 150px;
}

/*section 6*/

.section6 {
    background: #2B1845;
    position: relative;
    display: flex;
    justify-content: center;
}
.sec6Fondo{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0.3; 
    background-position: center;
}

.sec6Cel {
    width: 100%;
    position: relative;
    display: grid;
}

.manos-chat {
    position: absolute;
    height: 100%;
    align-self: center;
    width: 80%;
    justify-self: center;
}
.texto-sec6{
    min-width: 18.5%;
    align-self: center;
    justify-self: center;
    position: absolute;
    left: 46.5%;
    right: 53%;
    z-index: 20;
    display: grid;
}

.texto-chat {
    position: absolute;
    height: 100%;
}

.mensajeSec {
    width: 75%;
}

#M {
    justify-self: end;
}

.mensajeSec6 {
    width: 55%;
}

/*section 7*/

.section7 {
    background: #2B1845;
    position: relative;
    display: flex;
    justify-content: center;
}

.mano-cel-izq {
    height: 100%;
    position: absolute;
    left: 20px;
    bottom: 50px;
    z-index: 2;
    width: 40%;
}

.mano-cel-der {
    height: 100%;
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1;
    width: 40%;
}

.texto-section7 {
    display: grid;
    grid-column: 1;
    grid-row: inherit;
    font-size: 1.2rem;
    width: 400px;
    color: white;
    position: relative;
    z-index: 3;
    height: 100%;
}

.text1-sect7 {
    padding-top: 4rem;
    width: 100%;
    height: 50%;
}

.text1-sect7B {
    align-self: end;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#emojis-sect7 {
    display: flex;
    flex-direction: row;
}

#emojis-7 {

    top: 10%;
    width: 30%;

}

#emoji-7 {

    bottom: 10%;
    width: 13%;
    margin: 1rem;
}

/*section 8*/
.section8 {
    background: #2B1845;
    position: relative;
    height: 100vh;
}

.mano-6 {
    position: absolute;
    height: 100%;
    width: 80%;
}

.chat-8 {
    position: absolute;
    height: 100%;
}

.sec8Cel {
    width: 50%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
}

.texto-sec8 {
    display: grid;
    position: relative;
    width: 30%;
    height: 50%;
    justify-self: center;
    align-self: center;

}
.mensajeSec8 {
    width: 60%;
}

#textoSec8{
    transform: translateY(-4rem);
}

@media (max-width: 1024px) {
     /* Section 1 */
     .section1{
        background-image: url("../src/fondo.png");
    }

    .icon1 {
        width: 50px;
    }
    .icon2 {
        width: 70px;
    }
    .icon3 {
        width: 80px;
    }
    .icon4 {
        width: 70px;
    }
    .corazon{
        padding-top: 12rem;
        
    }
    /* Section 2 */
    .section2{
        height: 60vh;
    }
    .manos-game {
        width: 100%;
    }

    .mision-cumplida {
        width: 100%;
    }

    #pSection1 {
        font-size: 1.2rem;
    }
    /*section 3*/
    .section3{
        height: 70vh;
    }
    .section4{
        height: 110vh;
    }

    .chatContainer{
        height: 50%;
    }
     /*seccion 6*/
    .texto-sec6{
        width: 33%;
        left: 43.5%;
    }
    .mensajeSec{
        width: 80%;
    }
    .mensajeSec6{
        width: 60%;
    }
}
@media (max-width: 768px) {
    /* Section 1 */
    .icon1 {
        width: 40px;
    }
    .icon2 {
        width: 50px;
    }
    .icon3 {
        width: 60px;
    }
    .icon4 {
        width: 60px;
    }

    /* Section 2 */
    .section2 {
        height: 80vh;
    }
    #pSection1 {
        font-size: 1rem;
    }
    .caja-texto{
        width: 60%;
    }
    #texto-section5{
        width: 60%;
        font-size: 1rem;
    }
    /*seccion 3*/
    .chatContainer{
        height: 70%;
    }
    /*seccion 6*/
    .texto-sec6{
        width: 32%;
        left: 43.5%;
    }
    .mensajeSec{
        width: 80%;
    }
    .mensajeSec6{
        width: 60%;
    }
}
@media (max-width: 640px) {
    #pSection1{
        font-size: 1rem;
        max-width: 60%;
    }
    .caja-texto {
        width: 80%;
        font-size: 1rem;
    }
    .chat{
        width: 60%;
    }
    #texto-section5{
        width: 80%;
        font-size: 0.7rem;
    }
    .texto-section7{
        font-size: 1rem;
        width: 80%;
    }
}
@media (max-width: 425px) {
    /* Section 1 */
    .section1 {
        height: 100vh;
    }

    .icon1 {
        width: 30px;
    }
    .icon2 {
        width: 40px;
        left: 2%;
    }
    .icon3 {
        width: 40px;
    }
    .icon4 {
        width: 40px;
    }

    /* Section 2 */
    .section2 {
        height: 70vh;
    }

    #content {
        background-image: url('../src/ri-caso1-xs-p2-fondo.jpg');
        background-size: cover;
    }

    #pSection1 {
        font-size: 0.7rem;
    }

    .corazon {
        width: 40%;
    }
     /*seccion 3*/
     .chatContainer{
        height: 60%;
    }
    /*seccion 6*/
    .texto-sec6{
        width: 30%;
    }
    .mensajeSec{
        width: 80%;
    }
    .mensajeSec6{
        width: 60%;
    }
    #textoSec8{
        transform: translateY(-2rem);
    }
}

/*

@media (max-width: 1024px) {
    .section1 {
        background-image: url("../src/ri-caso1-xs-p1-fondo.jpg");
    }

    .section2 {
        background-image: url("../src/ri-caso1-xs-p2-fondo.jpg");
    }

    .corazon {
        width: 200px;
    }

    #pSection1 {
        font-size: 0.6rem;
    }

    .manos-game {
        width: 100%;
    }

    .icon3 {
        left: 40px;
        top: 100px;
    }

    .icon2 {
        bottom: 20px;
        left: -20%;
    }

    .icon1 {
        right: 250px;
    }

    #sec4H2 {
        font-size: 2.5rem;
    }

    .caja-texto {
        bottom: 100px;
        width: 40rem;
        font-size: 2rem;
    }

    .caja-texto2 {
        right: 100px;
    }

    .text1-sect7 {
        margin-top: 6rem;
        font-size: 1.5rem;
    }

    .text1-sect7B {

        font-size: 1.5rem;
    }
}

@media (max-width: 900px) {
    #texto-section5 {
        left: 15%;
    }
}


@media (max-width: 768px) {
    .corazon {
        width: 200px;
    }

    .section1 p {
        max-width: 400px;
        font-size: 1rem;
    }

    .section2 {
        height: 70vh;
    }

    .icon4 {
        width: 50px;
    }

    .icon3 {
        left: 40px;
        top: 100px;
    }

    .icon2 {
        width: 60px;
        bottom: 20px;
        left: 250px;
    }

    .icon1 {
        width: 40px;
        right: 200px;
    }

    .section4 {
        height: 70vh;
    }

    .regalo {
        width: 90%;
    }

    .caja-texto {
        bottom: 15px;
        width: 450px;
        line-height: 20px;
    }

    .section4 h2 {
        top: 125px;
    }

    .caja-texto2 {
        right: 10px;
        top: 55%;
    }

    .mano-cel-izq {
        left: 0;
    }

    .mano-cel-der {
        right: 0;
    }

    .texto-section7 {
        width: 300px;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {

    .section1 {
        height: 80vh;
    }

    .corazon {
        width: 150px;
    }

    .section1 p {
        max-width: 300px;
    }

    .section2 {
        height: 50vh;
    }

    .icon4 {
        width: 30px;
    }

    .icon3 {
        width: 30px;
        left: 40px;
        top: 120px;
    }

    .icon2 {
        width: 30px;
        bottom: 10px;
        left: 120px;
    }

    .icon1 {
        width: 25px;
        right: 100px;
        bottom: 20px;
    }

    .section3 {
        height: auto;
    }

    .chat {
        padding: 20px 0;
    }

    .section4 {
        height: 60vh;
        padding: 50px 0;
    }

    .regalo {
        width: 95%;
        align-self: self-start;
    }

    .section4 h2 {
        top: unset;
        margin-top: 25px;
        font-size: 1.5rem;
    }

    .caja-texto {
        width: 350px;
        padding: 10px;
        align-self: flex-end;
        bottom: unset;
    }

    .section5 {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja-texto2 {
        top: unset;
        right: unset;
        width: 95%;
        margin-top: 100px;
    }


    .mano-cel-izq {
        height: 50%;
        bottom: unset;
        top: 100px;
    }

    .mano-cel-der {
        height: 50%;
        top: 100px;
    }

    .texto-section7 {
        text-align: center;
    }

    .chat-8 {
        width: 100%;
        height: auto;
    }

*/